.checkout-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .checkout-form {
        margin-top: 40px;
        width: 40vw;
        display: flex;
        flex-direction: column;
        gap: 18px;
    
        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style-type: none;
        }

        button {
            width: 160px;
            font-weight: 500;
        }
    }
}